menu{
    background-image:url("/headerimg.jpg")
}

h2{text-align: center }
p{line-height: 1.5em;}
a:link{
    text-decoration: none;
    color: #09f;}
a:visited{
    text-decoration:none;
    color:#930;
}
a:hover{
    text-decoration:underline;
    color:#03c;
}
a:active{
    text-decoration:none;
    color:#03c;
}
ul{
    font-style:italic;
    font-size:20px;
}
table{
    width:1000px;
    height:450px;
}
table,td{
    border: 1px solid black;
    border-collapse:collapse;
}
tr:nth-child(odd){
    background-color:#EAF2D3;
}
