---
ref: blog
layout: page
title: 文章
description: 思想的草稿，按时间排列。
---
{% include lang.html %}
{% include blog-links.html %}
{% assign years = site.posts | where: "lang", L | group_by_exp: "p", "p.date | date: '%Y'" %}
{% for y in years %}
<h2 class="year">{{ y.name }}</h2>
<ul class="rows">
  {% for post in y.items %}
  <li><time>{{ post.date | date: t.date_month }}</time><a href="{{ post.url | relative_url }}"><span class="vt-title" style="view-transition-name: p-{{ post.url | slugify }}; view-transition-class: vt-title">{{ post.title }}</span>{% if post.description %}<span class="note">{{ post.description }}</span>{% endif %}</a></li>
  {% endfor %}
</ul>
{% endfor %}
