---
ref: blog
layout: page
title: Writing
description: Drafts of a mind, in chronological order.
---
{% include lang.html %}
{% assign years = site.posts | where: "lang", L | group_by_exp: "p", "p.date | date: '%Y'" %}
{% for y in years %}
<h2 class="year">{{ y.name }}</h2>
<ul class="rows">
  {% for post in y.items %}
  <li><time>{{ post.date | date: t.date_month }}</time><a href="{{ post.url | relative_url }}">{{ post.title }}{% if post.description %}<span class="note">{{ post.description }}</span>{% endif %}</a></li>
  {% endfor %}
</ul>
{% endfor %}
